* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: #D6E1F0;


}

.qr-code-section {

    width: clamp(30ch, 20%, 40ch);
    height: clamp(40ch, 70%, 55ch);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
    border-radius: 10px;
    box-shadow: 30px 30px 17px 5px rgba(0, 0, 0, 0.1);
    background-color: white
}

.qr-code-section img {
    width: 90%;
    position: relative;
    left: 5%;
    top: 3%;
    border-radius: 5%;

}

.description {
    margin-top: 10%;
    width: 80%;
    position: relative;
    left: 10%;

}

.description h3 {
    text-align: center;
    font-family: Outfit;
    font-weight: 700;

}

.description p {
    margin-top: 5%;
    text-align: center;
    font-size: 15px;
    color: #9f9ea3;
    font-family: Outfit;
    font-weight: 400;
}


/* 

@media (max-width:600px) {

    .qr-code-section{

        width:80%;
        height: 70%;
        position: relative;
        left:10%;
        top:10%;
       

    }

  .description{
    width:75%;
    position:relative;
    left: 13%;
  }

  
    
} */